{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<form action="/forgot" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control w-auto" name="username" placeholder="Username" type="text" value="{{ form.username }}">
    </div>
    <div class="mb-3">
        <input class="form-control w-auto" name="pin" placeholder="Enter 4 digit PIN" type="password" value="{{ form.pin }}">
    </div>
    <div class="mb-3">
        <input class="form-control w-auto" name="password" placeholder="Enter New Password" type="password" value="{{ form.password }}">
    </div>
    <div class="mb-3">
        <input class="form-control w-auto" name="confirmation" placeholder="Confirm New Password" type="password" value="{{ form.confirmation }}">
    </div>
    <div>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button class="btn btn-warning btn-block" type="submit">Proceed</button>
    </div>
</form>
{% endblock %}
