{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% if session["user_id"] %}
{% block name %}
Signed in as {{ name }}
{% endblock %}
{% endif %}

{% block main %}
<script>
    function autoSubmit() {
        var form = document.getElementById("filterForm");
        form.submit();
    }
</script>
<center><div class="container">
    <h2>Transaction Summary</h2></div></center>
<br>
<form method="get" action="/" class="row g-3 align-items-end" id="filterForm">
    <div class="col-md-2">
        <label class="form-label" for="sort_by">Sort By:</label>
        <select id="sort_by" name="sort_by" class="form-select" onchange="autoSubmit()">
            <option value="date" {% if sort_by == "date" %}selected{% endif %}>Date</option>
            <option value="type" {% if sort_by == "type" %}selected{% endif %}>Type</option>
            <option value="particulars" {% if sort_by == "particulars" %}selected{% endif %}>Particulars</option>
            <option value="account" {% if sort_by == "account" %}selected{% endif %}>Account</option>
            <option value="amount" {% if sort_by == "amount" %}selected{% endif %}>Amount</option>
        </select>
    </div>
    <div class="col-md-2">
        <label class="form-label" for="order">Order:</label>
        <select id="order" name="order" class="form-select" onchange="autoSubmit()">
            <option value="ascending" {% if order == "ascending" %}selected{% endif %}>Ascending</option>
            <option value="descending" {% if order == "descending" %}selected{% endif %}>Descending</option>
        </select>
    </div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <div class="col-md-2">
        <a class="btn btn-primary" href="{{ url_for('print_transactions', sort_by=sort_by, order=order, type=transaction_type, account=account) }}">Print as PDF</a>
    </div>
</form>
<br>
<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th>Date</th>
            <th>
                Type
                <div class="dropdown">
                    <select id="type" name="type" class="form-select" onchange="autoSubmit()" form="filterForm">
                        <option value="all" {% if transaction_type == "all" %}selected{% endif %}>All</option>
                        <option value="Payment" {% if transaction_type == "Payment" %}selected{% endif %}>Payment</option>
                        <option value="Receipt" {% if transaction_type == "Receipt" %}selected{% endif %}>Receipt</option>
                    </select>
                </div>
            </th>
            <th>Particulars</th>
            <th>
                Account
                <div class="dropdown">
                    <select id="account" name="account" class="form-select" onchange="autoSubmit()" form="filterForm">
                        <option value="all" {% if account == "all" %}selected{% endif %}>All</option>
                        <option value="Cash" {% if account == "Cash" %}selected{% endif %}>Cash</option>
                        <option value="Bank" {% if account == "Bank" %}selected{% endif %}>Bank</option>
                    </select>
                </div>
            </th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.particulars }}</td>
                <td>{{ transaction.account }}</td>
                <td>{{ transaction.amount }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td class="border-0 fw-bold text-end" colspan="3">Cash Balance</td>
            <td>{{ cash_balance }}</td>
        </tr>
        <tr>
            <td></td>
            <td class="border-0 fw-bold text-end" colspan="3">Bank Balance</td>
            <td>{{ bank_balance }}</td>
        </tr>
        <tr>
            <td></td>
            <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
            <td>{{ total }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
