{% extends "layout.html" %}

{% block title %}
    Payments
{% endblock %}

{% block name %}
Signed in as {{ name }}
{% endblock %}

{% block flash %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="{{ category }}-message">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}

{% block main %}
    <script>
        // Get today's date in the format "YYYY-MM-DD"
        const today = new Date().toISOString().split('T')[0];
        document.getElementById('date').value = today;
    </script>
    <style>
    a {
        text-decoration: none;
        color: grey;
    }
    </style>
    <br>

    <form id="statusForm" action="/payment" method="post" class="row g-3 align-items-end">
        <div class="input-group mb-4">
            <span for="status" class="input-group-text"><b>Status of Payment</b></span>
            <select id="status" name="status" class="form-select" onchange="document.getElementById('statusForm').submit()">
              <option disabled selected>Paid/Due</option>
              <option value="Paid" {% if form.status == 'Paid' %}selected{% endif %}>Paid</option>
              <option value="Due" {% if form.status == 'Due' %}selected{% endif %}>Due</option>
            </select>
          </div>
    </form><br>

    {% if form.status == 'Paid' %}
    <form action="/payment" method="post" class="row g-3">
      <input type="hidden" name="status" value="Paid">
      <div class="col-md-2">
          <label for="date" class="form-label">Date</label>
          <input type="date" id="date" class="form-control" name="date" min="2022-01-01" max="2050-12-31" value="{{ form.date }}" required>
      </div>
      <div class="col-md-2">
        <label for="pay_to" class="form-label">Paid To</label>
        <input type="text" id="pay_to" class="form-control" placeholder="Payment to" name="pay_to" value="{{ form.pay_to }}" required>
    </div>
      <div class="col-md-4">
        <label for="pay_for" class="form-label">Paid For</label>
        <input id="pay_for" type="text" class="form-control" placeholder="Purpose of payment"  name="pay_for" value="{{ form.pay_for }}" required>
      </div>
      <div class="col-md-2">
        <label for="account" class="form-label">Cash/Bank</label>
        <select id="account" name="account" class="form-select" required>
          <option disabled selected>Select account</option>
          <option {% if form.account == 'Cash' %} selected {% endif %}>Cash</option>
          <option {% if form.account == 'Bank' %} selected {% endif %}>Bank</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="amount" class="form-label">Amount</label>
        <input id="amount" class="form-control" name="amount" placeholder="Amount" type="number" step=0.01 value="{{ form.amount }}" required>
      </div>
      <div class="d-grid gap-2 col-5 mx-auto">
        <button type="submit" name="action" value="Add Voucher" class="btn btn-warning">Add Voucher</button>
      </div>
    </form>
    {% elif form.status == 'Due' %}
    <form action="/payment" method="post" class="row g-3">
      <input type="hidden" name="status" value="Due">
      <div class="col-md-2">
        <label for="date" class="form-label">Date</label>
        <input type="date" id="date" class="form-control" name="date" min="2022-01-01" max="2050-12-31" value="{{ form.date }}" required>
    </div>
    <div class="col-md-2">
      <label for="pay_to" class="form-label">To</label>
      <input id="pay_to" type="text" class="form-control" placeholder="Payment to" name="pay_to" value="{{ form.pay_to }}" required>
    </div>
    <div class="col-md-2">
      <label for="pay_for" class="form-label">For</label>
      <input id="pay_for" type="text" class="form-control" placeholder="Purpose of payment" name="pay_for" value="{{ form.pay_for }}" required>
    </div>
    <div class="col-md-2">
        <label for="due_date" class="form-label">Due Date</label>
        <input type="date" id="due_date" class="form-control" name="due_date" min="2022-01-01" max="2050-12-31" value="{{ form.due_date }}" required>
    </div>
    <div class="col-md-2">
      <label for="account" class="form-label">Cash/Bank</label>
      <select id="account" name="account" class="form-select" required>
        <option disabled selected>Select account</option>
        <option {% if form.account == 'Cash' %} selected {% endif %}>Cash</option>
        <option {% if form.account == 'Bank' %} selected {% endif %}>Bank</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="amount" class="form-label">Amount</label>
      <input id="amount" class="form-control" name="amount" placeholder="Amount" type="number" step=0.01 value="{{ form.amount }}" required>
    </div>
    <div class="d-grid gap-2 col-5 mx-auto">
      <button type="submit" name="action" value="Add Reminder" class="btn btn-success">Add Reminder</button>
    </div>
    </form>
    {% endif %}
{% endblock %}
